# Ignore everything by default
*

# Allow project structure
!.gitignore
!.gitattributes
!.github/
!.github/**

# Allow example folders
!website/
!website/**
!expo-snack/
!expo-snack/**

# Ignore build artifacts inside examples
website/node_modules
website/dist

# Allow docs
!LICENSE
